@import "./variables.scss";

body {
  padding: 0;
  margin: 0;

  width: 100vw;
  height: 100vh;
  
  background-color: $bg-color;
  color: $primary-font;
}

#starfield {
  position: absolute;
  z-index: -10;
}