$deep-space: rgb(0, 0, 12);
$pale-moon: rgb(219, 232, 212); // This is quite a pretentious color name - I apologize

$linkedin: rgb(0, 119, 181);
$github: rgb(36, 41, 46);
$facebook: rgb(59, 89, 152);
$email: rgb(212, 70, 56);

$darkening-factor: 10%;

$primary-font: $pale-moon;
$bg-color: $deep-space;