$deep-space: #00000C;
$pale-moon: #DBE8D4; // This is quite a pretentious color name - I apologize

$linkedin: #0077b5;
$github: #24292e;
$facebook: #3b5998;
$email: #D44638;

$darkening-factor: 10%;

$primary-font: $pale-moon;
$bg-color: $deep-space;